.card {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    aspect-ratio: 16/9;
}

.card img {
    max-width: 80%;
    max-height: 80%;
}